td {
  color: white;
}






/* cusi detalle */


.filset-Cusi{
  /* background-color: aliceblue; */
  border: .5px solid lightslategray;
  padding: 5px;


}


.legend-cusi{
  font-size: 25px;
  width: 200px;
}



.conteiner-detalles{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}