
  <aside th:fragment="modal_prueba" id="modal" class="modal">

    <div class="content-modal">

      <div class="header-modal">

        <a href="#" class="close-modal"> X </a>
        <h2>Informacion de Estacion</h2>

      </div>

      <article>

        <div class="p-6 space-y-6">

          <div class="conteiner-form-modal-ver-mas">
            <form class="form-das text-white">

              <div class="flex">

                <div class="div-form pepe">

                  <h5 class="text-center h5-title-form">Cusi</h5>

                  <div class="div-group-inputs">
                    <label for="">Disco</label>
                    <input id="disco_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Micro</label>
                    <input id="micro_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Mother</label>
                    <input id="mother_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Ram</label>
                    <input id="ram_id" class="inputs-tabla text-gray-900" type="text">
                  </div>

                  <div class="div-group-inputs">
                    <label for="">So</label>
                    <input id="so_id" class="inputs-tabla text-gray-900" type="text">
                  </div>

                  <div>
                    <div
                            class="flex items-center div-conte-check border border-gray-200 rounded dark:border-gray-700">
                      <label for="dvd_id"
                             class="w-[25%] py-4 text-sm font-medium text-gray-900 dark:text-gray-300">DVD</label>
                      <input id="dvd_id" type="checkbox" value="" name="bordered-checkbox"
                             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <div
                            class="flex items-center div-conte-check border border-gray-200 rounded dark:border-gray-700">
                      <label for="mouse_id"
                             class="w-[25%] py-4 text-sm font-medium text-gray-900 dark:text-gray-300">Mouse</label>
                      <input id="mouse_id" type="checkbox" value="" name="bordered-checkbox"
                             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <div
                            class="flex items-center div-conte-check border border-gray-200 rounded dark:border-gray-700">
                      <label for="teclado_id"
                             class="w-[25%] py-4 text-sm font-medium text-gray-900 dark:text-gray-300">Teclado</label>
                      <input id="teclado_id" type="checkbox" value="" name="bordered-checkbox"
                             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    </div>
                  </div>

                </div>


                <div class="div-form">

                  <h5 class="text-center h5-title-form">Monitor</h5>

                  <div class="div-group-inputs">
                    <label for="">Marca</label>
                    <input id="marca_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Modelo</label>
                    <input id="modelo_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Nro.Serie</label>
                    <input  id="num_serie_id" class="inputs-tabla text-gray-900" type="number">
                  </div>
                </div>
                <!--  -->

                <!--  -->

                <div class="div-form">

                  <h5 class="text-center h5-title-form">Estacion</h5>

                  <div class="div-group-inputs">
                    <label for="">Nro. Puerto</label>
                    <input id="puerto_id" class="inputs-tabla text-gray-900" type="number">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Host-Name</label>
                    <input id="host_name_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                  <div class="div-group-inputs">
                    <label for="">Mac</label>
                    <input id="mac_id" class="inputs-tabla text-gray-900" type="text">
                  </div>
                </div>
              </div>


              <div class="btn_modificar_estacion">


              </div>

            </form>
          </div>


        </div>

      </article>

    </div>

    <a href="#" class="btn-close-modal"></a>

  </aside>
