
<aside th:fragment="modal_usuario_modificar" id="modal_usuario" class="modal">

  <div class="content-modal">

    <div class="header-modal">

      <a href="#" class="close-modal"> X </a>
      <h2>Informacion de Usuario</h2>

    </div>

    <div>
      <div class="relative w-full max-w-4xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="p-6 space-y-6">
            <div class="conteiner-div-update">

              <div class="div-table-usuarios body-modal-usuario">

                <table class="w-full text-sm text-left text-gray-900 dark:text-gray-800">
                  <thead class="text-xs text-gray-900 uppercase bg-gray-300 dark:bg-gray-900 dark:text-gray-400">
                  <tr>
                    <th scope="col" class="px-6 py-3">
                      Puerto Estacion
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Usuario
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Contraseñas
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Opciones
                    </th>
                  </tr>
                  </thead>
                  <tbody class="tabla_usuario">
                  <!-- AQUI SE ESTAN CARGANDO LA FILA DE LOS USUARIOS-->
                  </tbody>
                </table>
              </div>
              <div class="div-form ml-2">

                <h5 class="text-center h5-title-form text-white">Usuarios</h5>

                <div class="div-group-inputs text-white">
                  <label for="">Usuario</label>
                  <input class="inputs-tabla text-gray-900" type="text">
                </div>
                <div class="div-group-inputs text-white">
                  <label for="">Contraseña</label>
                  <input class="inputs-tabla text-gray-900" type="text">
                </div>
              </div>
            </div>
          </div>

          <div
                  class="flex justify-center items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button data-modal-hide="large-modal" type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
            <button data-modal-hide="large-modal" type="button"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancerlar</button>
          </div>
        <div>
      </div>
    <div>

    </div>

  <a href="#" class="btn-close-modal"></a>

</aside>
