<section th:fragment="tabla_estacion" class="section-tabla text-white overflow-auto touch-pan-x dark">
  <div className="w-full h-full flex flex-col px-8 py-8">
    <div className="w-full flex flex-col min-h-[50vh] justify-center items-center">
      <div className="sm:-mx-6 lg:-mx-8">
        <div className="py-4 inline-block min-w-full sm:px-6 lg:px-8">

          <div class="relative ">
            <table class="w-full text-sm text-left text-gray-900 dark:text-gray-800">
              <thead class="text-xs text-gray-900 uppercase bg-gray-300 dark:bg-gray-900 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Puerto
                </th>
                <th scope="col" class="px-6 py-3">
                  Numero CUSI
                </th>
                <th scope="col" class="px-6 py-3">
                  Sistema Operativo
                </th>
                <th scope="col" class="px-6 py-3">
                  HostName
                </th>
                <th scope="col" class="px-6 py-3">
                  Departamento
                </th>
                <th scope="col" class="px-6 py-3">
                  Opciones
                </th>
              </tr>
              </thead>
              <tbody class="tablita">

              <!-- carga de filas tabla aqui -->

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
